body {
    font-family: 'Alegreya', serif;
    font-weight: 300;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Alegreya Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Asap', sans-serif;
    color: #154360
}
h2 {
    font-size: 2.25em;
    font-family: 'Asap', sans-serif;
    color: #641E16
}
h3 {
  font-size: 1.75em;
  font-family: 'Alegreya Sans', sans-serif;
  color: #641E16
}
h4 {
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
  color: #641E16
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
ul {
  font-size: 1.5em;
}
ul ul {
  font-size: 0.9em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
